.site-header ul{
list-style: none;
}

.logolink{
 font-family: Open Sans;
font-size: 24px;
font-weight: 600;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
color: rgba(34, 34, 34, 1);

}
.sitenav-link{
font-family: Open Sans;
font-size: 14px;
font-weight: 700;
line-height: 21px;
letter-spacing: 2px;
text-align: left;
color: rgba(34, 34, 34, 1);
text-decoration: none;
}
.sitenav-link a{
    list-style: none;
}
.main-link{
font-family: 'Open Sans Condensed';
font-size: 15px;
font-weight: 700;
line-height: 23px;
letter-spacing: 2px;
text-align: left;
text-decoration: none;
}
.site-promo{
    width: 1440px;
    background: rgba(14, 180, 193, 1);

}
.promo-heading{
    font-family:  'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0px;
    text-align: left;
    color: #ffff;
}
.promo-text{
font-family:'Open Sans', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0px;
text-align: left;
color: #ffff;
}
.services ul{
text-decoration:none ;
list-style: none;
}
.services-heading{
font-family: 'Open Sans Condensed';
font-size: 36px;
font-weight: 700;
line-height: 43px;
letter-spacing: 0px;
text-align: left;
color: #000000;

}
.services-features {
text-decoration: none;
}
.services-name{
    font-family:' Open Sans Condensed';
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
}
.sevices-text{
font-family:'Open Sans', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color: #000000;
}
.site-footer ul{
    list-style: none;
}
.site-footer-top{
    background-color: rgba(14, 180, 193, 1); 
}
.site-footer-heading{
    font-family: 'Open Sans Condensed';
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0px;
    text-align: left;
    color: #ffff;
}
.site-footer-buttons{
 font-family:' Open Sans Condensed';
font-size: 15px;
font-weight: 700;
line-height: 18px;
letter-spacing: 2px;
text-align: left;
text-decoration: none;

}
.site-footer-bottom{
    background-color: #222222;
}

.bottom-link{
    font-family:' Open Sans Condensed';
font-size: 15px;
font-weight: 700;
line-height: 23px;
letter-spacing: 2px;
text-align: left;
text-decoration: none;
color: #ffff;
}
.site-footer-links a{
 font-family: 'Open Sans', sans-serif;;
font-size: 14px;
font-weight: 700;
line-height: 21px;
letter-spacing: 2px;
text-align: left;
text-decoration: none;
color:#ffff;
}